


.hover-effect-leetcode:hover {
    content: url(leetcode-color.svg); /* Change the image source on hover */
  }
  
  .hover-effect-kaggle:hover {
    content: url(kaggle-color.svg); /* Change the image source on hover */
  }
  
  .hover-effect-github:hover {
    content: url(github.svg); /* Change the image source on hover */
  }
  
  .hover-effect-linkedin:hover {
    content: url(linkedin-color.svg); /* Change the image source on hover */
  }
  
  .hover-effect-gitlab:hover {
    content: url(gitlab-color.svg); /* Change the image source on hover */
  }
  
  .social-media{
    height: 40px;
  }



.leetcode-icon
{
 padding: 1px;
  border: 2px solid var(--text-color);
 border-radius: 15%;
  margin-top: 0;
  background-color:  var(--social-media-color);
}

